h1 {
    color: rgb(25, 135, 238);
}
img {
    width: 400px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: rgba(255, 0, 0, 0.767);
    padding: 50px;
    border: 2px solid black;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}